@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

div, section, span, ul, li, a, header {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*css reset*/

.wrapper {
  background: #202021;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

nav .content {
  display: flex;
  align-items: center;
}

nav .content .menu {
  margin-left: 500px;
  display: flex;
}

.content .logo a {

  font-size: 30px;
  font-weight: 600;
  background: linear-gradient(to right, #b92b27 0%, #5b80a9 100%);
}

.content .menu li {
  list-style: none;
  line-height: 70px;
}

.content .menu li a,
.content .menu li label {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.content .menu li label {
  display: none;
}

.content .menu li a:hover,
.content .menu li label:hover {
  background: #323c4e;
}

.wrapper .search-icon,
.wrapper .menu-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

.wrapper .menu-icon {
  display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
  content: "\f00d";
}

.wrapper .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}

.search-box input::placeholder {
  color: #f2f2f2;
}

.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start */
.content .menu ul {
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.content .menu li:hover>ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.content .menu ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}

.content .menu ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}

.content .menu ul li {
  position: relative;
}

.content .menu ul li:hover ul {
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }

  nav .content .menu {
    margin-left: 30px;
  }

  .content .menu li a {
    padding: 8px 13px;
  }

  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }

  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: block;
  }

  .wrapper #show-menu:checked~.menu-icon i::before {
    content: "\f00d";
  }

  nav .content .menu {
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }

  nav #show-menu:checked~.content .menu {
    left: 0%;
  }

  .content .menu li {
    margin: 15px 20px;
  }

  .content .menu li a,
  .content .menu li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }

  .content .menu li a.desktop-link {
    display: none;
  }

  /* dropdown responsive code start */
  .content .menu ul,
  .content .menu ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }

  .content .menu #show-features:checked~ul,
  .content .menu #show-services:checked~ul,
  .content .menu #show-items:checked~ul {
    max-height: 100vh;
  }

  .content .menu ul li {
    margin: 7px 20px;
  }

  .content .menu ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}

@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }

  .content .logo a {
    font-size: 27px;
  }

  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }

  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }

  .wrapper .search-box input {
    padding-right: 30px;
  }
}


#home {
  background-color: #eeeeee;
}

#football {
  background-color: #eeeeee;
}

#cricket {
  background-color: #eeeeee;
}

#tennis {
  background-color: #eeeeee;
}

#rugby {
  background-color: #eeeeee;
}

#contactus {
  background-color: #eeeeee;
}



section {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
  padding-top: 25px;
}

h1 {
  position: absolute;
  top: 95px;
  left: 90px;
  transform: translate(-50%, -50%);
  color: #000;
}